{% extends 'base.html' %}

{% block content %}


<form class="search-form" method="GET">
    <input class="search-form__query center" type="text" placeholder="Search...." name="Search">
</form>


{% if results %}

<div class="container">
    <div class="row">
        {% for result in results.results %}
        <div class="col s12 m4 l3">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="https://image.tmdb.org/t/p/w500{{ result.poster_path }}">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{ result.original_title }}<i
                            class=" material-icons right">more_vert</i></span>
                    <p><a href="{% url 'details_tv' result.id %}"
                            class="waves-effect waves-light btn black green-text accent-4-text small z-depth-5">
                            View Details
                        </a>
                    </p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{ result.original_title }}<i
                            class="material-icons right">close</i></span>
                    <h6>First Aired:
                        <br>{{ result.first_air_date }}
                    </h6>
                    <p>Average: {{ result.vote_average }} </p>
                    <p>"{{ result.overview }}"</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% else %}

<h1 class="center">
    Welcome to Showcase TV Search....
</h1>

{% endif %}

{% endblock %}