<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection">

    <title>Showcase</title>
</head>

<body>
    <nav>
        <div class="nav-wrapper blue-grey darken-3">
            <div class="container">
                <a href="{% url 'index' %}" class="brand-logo green-text accent-4-text">SHOWCASE</a>
                <a href="#" class="sidenav-trigger" data-target="slide-out">
                    <i class="material-icons">menu</i>
                </a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <a class="waves-effect waves-light btn black green-text accent-4-text z-depth-5"
                            href="{% url 'index' %}">
                            Home
                        </a>
                    </li>
                    <li>
                        <a class="waves-effect waves-light btn black green-text accent-4-text z-depth-5"
                            href="{% url 'search_movies' %}">
                            Movies
                        </a>
                    </li>
                    <li>
                        <a class="waves-effect waves-light btn black green-text accent-4-text z-depth-5"
                            href="{% url 'search_tv' %}">
                            TV Shows
                        </a>
                    </li>
                    <li>
                        <a class="waves-effect waves-light btn black green-text accent-4-text z-depth-5"
                            href="{% url 'search_person' %}">
                            Actors
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <ul class="sidenav deep-orange darken-1" id="slide-out">
        <li>
            <a class="waves-effect waves-light btn black green-text accent-4-text z-depth-5" href="{% url 'index' %}">
                Home
            </a>
        </li>
        <li>
            <a class="waves-effect waves-light btn black green-text accent-4-text z-depth-5"
                href="{% url 'search_movies' %}">
                Movies
            </a>
        </li>
        <li>
            <a class="waves-effect waves-light btn black green-text accent-4-text z-depth-5"
                href="{% url 'search_tv' %}">
                TV Shows
            </a>
        </li>
        <li>
            <a class="waves-effect waves-light btn black green-text accent-4-text z-depth-5"
                href="{% url 'search_person' %}">
                Actors
            </a>
        </li>
    </ul>

    {% block content %}

    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            $('.sidenav').sidenav();
        });
    </script>

    {% block script %}

    {% endblock %}
</body>

</html>